In [1]:
print("Hello Priyabrata")

Hello Priyabrata

Write a program to do arthmetical operation addition

In [2]:
#Addition
num1= float(input("Enter first number:"))
num2= float(input("Enter second number:"))
sum= num1+num2
print(f"sum: {num1} + {num2} ={sum}")

Enter first number:23
Enter second number:34
sum: 23.0 + 34.0 =57.0

In [3]:
#Division
num1= float(input("Enter first number:"))
num2= float(input("Enter second number:"))
div= num1/num2
print(f"Division: {num1} / {num2} ={div}")

Enter first number:38
Enter second number:4
Division: 38.0 / 4.0 =9.5

Write a program to find the are of a triangle.

In [4]:
#Input the base and height from the user
base= float(input("Enter the base of the triangle:"))
height= float(input("Enter the height of the triangle:"))

#Calculate the area of triangle
area= 0.5*base*height

#Display the area of triangle
print(f"The area of the triangle is: {area}")

Enter the base of the triangle:23
Enter the height of the triangle:45
The area of the triangle is: 517.5

Write a program to swap twp variables.

In [5]:
#Input two variables
a = input("Enter the value of a:")
b = input("Enter the value of b:")

#Display the original variables
print(f"Original value of a: {a}")
print(f"Original value of b: {b}")

#Swap the variables
temp = a
a = b
b = temp

#Display the swapped variables
print(f"Swaped values: a={a}, b = {b}")

Enter the value of a:56
Enter the value of b:78
Original value of a: 56
Original value of b: 78
Swaped values: a=78, b = 56

Write a program To generate a random number.

In [7]:
import random

#Generate a random number between 1 and 10000
random_number = random.randint(1,10000)

#Display the random number
print(f"Random number: {random_number}")

Random number: 6862

write a program to convert kilometers to miles.

In [8]:
kilometers = float(input("Enter distance in kilometers:"))

#Conversion factor| 1 Kilometers =  0.621371 miles
conversion_factor = 0.621371

#Calculate miles
miles = kilometers * conversion_factor

#Display result
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers:87
87.0 kilometers is equal to 54.059277 miles